.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.block.cards.support {
  & > ul {
    grid-template-columns: repeat(4, 22%);

    & li {
      text-transform: uppercase;
      color: #00b0f0;
      font-size: 11px;
      cursor: pointer;
      background: #eee url("../../icons/arrow.png") no-repeat bottom right;
      width: 125px;
      height: 75px;
    }
  }

  & .cards-card-body {
    float: left;
    margin: 5px 20px 20px 5px;

    & p {
      text-decoration: underline;
    }
  }
}