/* stylelint-disable no-descending-specificity */
.thank-you {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  background: #FFF6BF;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 10px 20px;

  .field-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      width: 140px;
      text-align: right;
      margin-right: 10px;

      &[data-required]::after {
        content: '*';
        color: red;
        margin-left: 2px;
      }
    }

    input,
    select,
    textarea {
      flex: 1;
      border: 1px solid var(--light-gray-2);
      font-size: var(--body-font-size);
      padding: 8px;
      outline: none;

      &:focus {
        border: 1px solid var(--blue);
      }
    }

    &.checkbox-wrapper {
      padding-left: 140px;
      font-size: 95%;

      label {
        width: auto;
        text-align: left;
      }
    }

    &.plaintext-wrapper {
      padding-left: 140px;
    }

    textarea {
      resize: vertical;
      height: 84px;
    }
  }

  .required::before {
    content: '*';
    color: red;
    margin-left: 2px;
  }

  .submit-wrapper {
    display: flex;
    justify-content: center;
  }
}
