/* home specific styles */

/* extends default template css */
.home main {
    /* reverse colum order */
    flex-direction: row-reverse;
    padding: 40px 25px;

    @media (width >= 900px) {
        padding: 60px 55px;
    }



    /* adjust for two columns */
    section {
        min-width: 600px;
        display: flex;
        flex-direction: row;
        padding: 0 10px 0 0;
        &::before { display: none }

        .section:not(.left, .right) {
            padding-right: 20px;
        }

        .left {
            max-width: 300px;
            flex: 1;
            padding-right: 10px;
        }

        .right {
            width: 300px;
            box-sizing: border-box;
            padding: 0 10px;

            h2 {
                font-size: var(--heading-size-h1);
            }
        }
    }
}
