.tool-tip-wrapper {
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .intro {
    color: #fff;
    background: #000;
    border-radius: 20px;
    width: 400px;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 999;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-left: -200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1600ms;
    &.fade-in { opacity: .8 }
  }

  .pin {
    overflow: hidden;
    text-indent: -20000px;
    width: 10px;
    height: 10px;
    background: #0f7cc1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
    &:hover, &.active { background: #fe8a02; }
  }

  .info {
    position: absolute;
    top: 330px;
    left: 150px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 12px;
    align-items: start;
    padding: 10px 15px;
    width: 300px;
    z-index: 999;
    background: var(--dark-gray-2);
    color: #fff;
    visibility: hidden;
    &.active { visibility: visible }

    h5, p {
      grid-column: 1;
      margin: 0;
      line-height: 22px;
      color: #fff;
      text-transform: none;
      font-weight: normal;
      text-align: right;
    }

    p {
      text-align: left;
      grid-column: 2;
      & + p { margin-top: -12px }
      a { color: #fe8a02}
    }
  }
}
