/* stylelint-disable no-descending-specificity */

header {
  max-width: var(--page-width);
  margin: auto;

  .top-bar {
    position: relative;
    height: 40px;
    background: var(--blue);

    .search {
      position: absolute;
      left: 50px;
      top: 10px;

      input {
        height: 16px;
        width: 130px;
        color: #fff;
        background: var(--blue);
        border: 0;
        border-bottom: 1px solid #fff;
        &:focus { outline: none }
        &::placeholder { color: #fff }
      }
    }

    nav {
      position: absolute;
      right: 20px;
      top: 10px;

      ul {
        list-style: none;
        margin: 0;
      }

      li {
        float: left;
        margin-left: 2px;

        a {
          display: inline-block;
          border: 1px solid transparent;
          img { display: block }
        }

        &.active a,
        &:hover a {
          border: 1px solid #fff;
        }
      }
    }
  }

  .logo {
    width: 100%;
    aspect-ratio: 1030 / 230; /* force height to improve LHS */

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
