/* stylelint-disable no-descending-specificity */

header {
  .top-bar {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    background: var(--blue);

    .home {
      position: absolute;
      margin-top: 4px;
      left: 52px;
    }

    .search {
      position: absolute;
      left: 80px;

      input {
        height: 16px;
        width: 130px;
        color: #fff;
        background: var(--blue);
        border: 0;
        border-bottom: 1px solid #fff;
        font-style: normal;

        &::placeholder {
          color: #fff;
          font-style: italic;
        }
        &:focus { outline: none }
      }
    }

    nav {
      position: absolute;
      right: 50px;

      ul {
        list-style: none;
        margin: 0;
      }

      li {
        float: left;
        margin-left: 2px;

        a {
          display: inline-block;
          border: 1px solid transparent;
          img { display: block }
        }

        &.active a,
        &:hover a {
          border: 1px solid #fff;
        }
      }
    }
  }

  .logo {
    width: 100%;
    aspect-ratio: 1030 / 230; /* force height to improve LHS */

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
