.hidden {
    display: none;
}

.postclick {
    left: 340px;
    width: 80%;
}

.tintingguide main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

    .section.left {
        position: absolute;
        width: 100%;
        box-shadow: 0 0 20px #000;
        z-index: 10;
        overflow: scroll;
        background: white;

        .nav {
            cursor: pointer;
            position: relative;
            background: var(--blue);
            display: flex;
            justify-content: flex-end;

            & > button {
                padding: 0 20px;
            }

            & > button:hover {
                background: var(--blue);
            }
        }

        p:has(+ ul) {
            font-weight: bold;
        }

        .content {
            padding: 30px 15px 15px;

            li, p {
                font-size: 13px;
            }
        }

        h2 {
            color: var(--blue);
        }

    }

    .section.right {
        position: relative;
        padding: 0 10px;
        max-width: 100%;
    }
}

@media (width >=900px) {
    .tintingguide main {
        display: flex;
        flex-direction: row;

        .section.left {
            position: fixed;
            width: 340px;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}