.hidden {
    display: none;
}

.postclick {
    left: 340px;
    width: 80%;
}

.tintingguide main {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}

    /* adjust for two columns */
.tintingguide main .section.left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    box-shadow: 0 0 20px #000;
    z-index: 1;
}

.tintingguide main .section.left .nav {
    cursor: pointer;
    position: relative;
    background: var(--blue);
    display: flex;
    justify-content: flex-end;
}

.tintingguide main .section.left .nav > button {
    padding: 0 20px;
}

.tintingguide main .section.left .content {
    padding: 30px 20px 20px;
}


.tintingguide main .section.left h2 {
    color: var(--blue);
}

.tintingguide main .section.left p:has(+ ul) {
    font-weight: bold;
}
   
.tintingguide main .section.right {
    position: relative;
    padding: 0 10px;
    max-width: 100%;
}