main {
    display: flex;

    /* left nav */
    aside {
        width: 300px;
        box-sizing: border-box;

        @media (width < 800px) {
            width: 160px;
        }
    }

    /* right content */
    section {
        position: relative;
        flex: 1;
        padding: 0 0 0 40px;
        box-sizing: border-box;

        /* border */
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 10px;
            width: 1px;
            height: 100%;
            background: #ccc;
            box-sizing: border-box;
        }
    }
}

.block.cards.support {
    & > ul {
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: 1fr;
    }

    p picture {
        display: flex;
        justify-content: flex-end;
        top: 15px;
        position: relative;

        & img {
            width: auto;
            height: auto;
        }
    }
}

@media (width >=900px) {
.block.cards.support {
        & > ul {
            grid-template-columns: repeat(3, 33%);
            grid-auto-rows: 1fr;
        }
    }
}