.block.tinting-hotspot {
    position: relative;

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        position: relative;
    }

    .hotspot {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        z-index: 2;
        background: url('https://main--octoral--aemsites.hlx.live/assets/media_1685ae5ba269450793ce5abeb51149871c6cb6683.png') no-repeat center center;
        transition: 100ms all;

        &:hover, &:active {
            transform: scale(1.2);
        }
    }
}

.section.right .tinting-hotspot.block .popup {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 20px #000;
    z-index: 10;
    overflow: scroll;
    background: white;
    left: 0;
    top: 10px;
    bottom: 0;

    .nav {
        cursor: pointer;
        position: relative;
        background: var(--blue);
        display: flex;
        justify-content: flex-end;

        & > button {
            padding: 0 20px;

            &:hover {
                background-color: var(--blue);
            }
        }
    }

    p:has(+ ul) {
        font-weight: bold;
    }

    .content {
        padding: 30px 15px 15px;

        li, p {
            font-size: 13px;
        }
    }

    h2 {
        color: var(--blue);
    }
    
}

@media (width >= 900px) {
    .section.right.tinting-hotspot-container {
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
}
