h1 {
    margin-top: 0;
   }

    .card {
        width: auto;
        h3 {
            font-family: sans-serif;
            font-size: 18px;
            color: #535353;
            text-decoration: underline;
            
        }
        p {
            font-family: sans-serif;
            font-size: 13px;
            color: #343534;;
        }

    }


