footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: var(--page-width);
  margin: auto;
  box-sizing: border-box;
  padding: 0 55px;
  background: var(--light-gray-2);

  & > div {
    flex: 1;
    padding: 30px 0;
    white-space: nowrap;
  }

  a, a:hover { text-decoration: underline }

  .links {
    ul {
      margin: 0;
      padding: 0 10px;
      list-style: none;
    }
  }

  .social {
    img {
      width: 32px;
      margin-right: 6px;
    }
  }

  .terms {
    text-align: right;
    font-size: 75%;

    p {
      margin: 0 0 8px;
      color: var(--dark-gray-2);
    }

    a {
      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

