/* stylelint-disable max-line-length */

@font-face {
  font-family: frutiger-bold;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/frutiger-bold.woff') format('woff'),
}

@font-face {
  font-family: frutiger;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/frutiger-roman.woff') format('woff'),
}
