/* stylelint-disable declaration-block-single-line-max-declarations */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --text-color: #343534;
  --heading-color: #535353;
  --background-color: #f3f3f4;
  --light-blue: #00c0f2;
  --blue: #00b0f0;
  --light-gray: #eee;
  --light-gray-2: #ddd;
  --gray: #a9aaab;
  --dark-gray: #7c7d7e;
  --dark-gray-2: #666;

  /* fonts */
  --body-font-family: 'Open Sans', arial, serif;
  --heading-font-family: 'Open Sans', arial, serif;
  --fixed-font-family: menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size: 14px;

  /* heading sizes mobile */
  --heading-size-h1: 24px;
  --heading-size-h2: 18px;
  --heading-size-h3: 14px;
  --heading-size-h4: 14px; /* todo: is this used */
  --heading-size-h5: 14px; /* todo: is this used */
  --heading-size-h6: 14px; /* todo: is this used */

  /* sizes */
  --page-width: 1030px;
}

/* heading sizes desktop */
@media (width >= 900px) {
  :root {
    --heading-size-h1: 28px;
    --heading-size-h2: 20px;
    --heading-size-h3: 14px;
    --heading-size-h4: 14px; /* todo: is this used */
    --heading-size-h5: 14px; /* todo: is this used */
    --heading-size-h6: 14px; /* todo: is this used */
  }
}

body {
  font-size: var(--body-font-size);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background-color);
  display: none;
  &.appear { display: block }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: 20px;
}

h1 { font-size: var(--heading-size-h1); color: var(--blue); }
h2 { font-size: var(--heading-size-h2); }
h3 { font-size: var(--heading-size-h3); color: #000; }
h4 { font-size: var(--heading-size-h4); }
h5 { font-size: var(--heading-size-h5); }
h6 { font-size: var(--heading-size-h6); }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: 700
}

code, pre {
  font-family: var(--fixed-font-family);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a {
  color: var(--blue);
  text-decoration: none;
  &:hover { text-decoration: none }
}

/* buttons */
a.button, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: var(--blue);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover, &:focus {
    background-color: var(--light-blue);
    cursor: pointer;
  }

  &:disabled, &:disabled:hover {
    background-color: var(--gray);
    cursor: unset;
  }

  &.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--text-color);
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;

  img {
    height: 100%;
    width: 100%;
  }
}

main > div {
  box-sizing: border-box;
  padding: 20px 25px;
  max-width: var(--page-width);
  margin: auto;
  background: #fff;
  border: 1px solid var(--light-gray);

  @media (width >= 900px) {
    padding: 60px 55px;
  }
}
